<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>MAIN</title>
</head>
<style type="text/css">
	table{
		border: 1px solid black;
	}
</style>
<body>
	<form action="/logout" method="post">
		<input type="submit" name="LOGOUT" value="LOGOUT">
		<br><br><br>
	</form>
	<p>Chose Date Between <%= start_date_time.slice(0, 10)%>, <%= start_date_time.slice(11)%> and <%= end_date_time.slice(0,10)%>, <%= end_date_time.slice(11)%></p>
	<form action="/showData" method="post">
		<label>Start Time</label>
		<input type="datetime-local" id="start-date-time" min="<%= start_date_time%>" max="<%= end_date_time%>" name="start_date_time" onChange="dateTime();">
		<label>End Time</label>
		<input type="datetime-local" id="end-date-time" min="<%= start_date_time%>" max="<%= end_date_time%>" name="end_date_time">
		<br><br>
		<input type="submit" name="submit">
	</form><br><br>
	<%if (length >= 1){%>
		<p id="arduinoCode">Arduino Code : <%= dataResult[0].arduinoCode%></p><br><br>
	<%}%>
	<%if (data === true){%>
		<table id="data" class="data" border="1px">
			<tr>
				<th>Time</th>
				<th>Temperature</th>
				<th>Humidity</th>
				<th>Presure</th>
				<th>Wind Speed</th>
				<th>Direction</th>
				<th>Rain</th>
			</tr>
			<%for (var i = 0; i < length; i++){%>
				<tr>
					<td><%= dataResult[i].time%></td>
					<td><%= dataResult[i].temperature%></td>
					<td><%= dataResult[i].humidity%></td>
					<td><%= dataResult[i].presure%></td>
					<td><%= dataResult[i].windSpeed%></td>
					<td><%= dataResult[i].direction%></td>
					<td><%= dataResult[i].rain%></td>
				</tr>
			<%}%>
		</table>
	<%}%>
<script type="text/javascript">
	function dateTime()
	{
		document.getElementById('end-date-time').setAttribute('min', document.getElementById('start-date-time').value);
	}

	if (<%= data%>)
		console.log(<%= length%>);
</script>
</body>
</html>