<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>MAIN</title>
</head>
<body>
	<form action="/logout" method="post">
		<input type="submit" name="LOGOUT" value="LOGOUT">
		<br><br><br>
	</form>
	<p>Chose Date Between <%= start_date_time.slice(0, 10)%>, <%= start_date_time.slice(11)%> and <%= end_date_time.slice(0,10)%>, <%= end_date_time.slice(11)%></p>
	<form action="/showData" method="post">
		<label>Start Time</label>
		<input type="datetime-local" id="start-date-time" min="<%= start_date_time%>" max="<%= end_date_time%>" name="start_date_time" onChange="dateTime();">
		<label>End Time</label>
		<input type="datetime-local" id="end-date-time" min="<%= start_date_time%>" max="<%= end_date_time%>" name="end_date_time">
		<br><br>
		<input type="submit" name="submit">
	</form>
	<p id="arduino"></p>
	<div id="data"></div>
<script type="text/javascript">
	function dateTime()
	{
		document.getElementById('end-date-time').setAttribute('min', document.getElementById('start-date-time').value);
	}

	if (<%= data%> === true)
	{
		console.log("<%= dataResult%>");
	}
</script>
</body>
</html>